<section class="card admin-subnav">
  <div class="row row-actions admin-subnav-links">
    <a class="button-link secondary-link" href="/admin">Overview</a>
    <a class="button-link secondary-link" href="/admin/users">Users</a>
    <a class="button-link secondary-link" href="/admin/users/new">New User</a>
    <a class="button-link secondary-link" href="/admin/albums">Albums</a>
    <a class="button-link secondary-link" href="/admin/config">Config</a>
    <a class="button-link secondary-link" href="/admin/ops">Ops</a>
  </div>
</section>
